body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff;
}
.Cription {
    background: linear-gradient(135deg, #667eea, #764ba2);
    padding: 10px 20px;
    border-radius: 20px;
    width: 100%;;
    max-width: 400px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blue;
}
.tete {
    background-image: url(./img/img\ 2.jpg);
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.tete h2 {
    text-align: center;
    margin-bottom: 0;
    color: white;
    font-weight: 700;
    letter-spacing: 1.5px;
    font-size: 1.8rem;
}
h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1.5px;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-bottom: 6px;
    font-weight: 600;
    font-size: 0.9rem;
    color: #444;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"]{
    padding: 12px 15px;
    margin-bottom: 18px;
    border: 1.5px solid #add;
    border-radius: 6px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus {
    border-color: #2575fc;
    outline: none;
    box-shadow: 0 0 5px #2575fcaa;
}
button {
    background: #2575fc;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #164ea1;
    color: #fff;
}
.Inscription {
    text-align: center;
    margin-top: 15px;
    font-size: 0.9rem;
    color: #555;
}
.Inscription a {
    color: #2575fc;
    text-decoration: none;
    font-weight: 600;
}
.Inscription a:hover {
    text-decoration: underline;
}
.oublie {
    text-align: center;
    margin-top: 15px;
    font-size: 0.9rem;
    color: antiquewhite;
}
.compte {
    background:#2575fc;
    color: white;
    padding: 20px;
    text-align: left;
    border-radius: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.compte h2{
    text-align: left;
    margin-bottom: 0;
    color: white;
    font-weight: 700;
    letter-spacing: 1.5px;
    font-size: 1.8rem;
}
